<planet id="{{planet.name}}">
    <h3 class="my-3">{{planet.name}}</h3>
    <div class="row d-flex">
        <div class="stat">
            <i class="material-icons">event</i> {{planet.discovered}}
        </div>
        <div class="stat">
            <i class="material-icons">work</i>
            {{{planet.mass}}}
        </div>
        <div class="stat">
            <i class="material-icons">accessibility</i>
            {{planet.diameter}}
        </div>
        <div class="stat">
            <i class="material-icons">repeat_one</i>
            {{planet.year}}
        </div>
        <div class="stat">
            <i class="material-icons">directions_run</i>
            {{planet.distance_from_sun}} from the sun
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class="my-4">Atmospheric Composition</h5>
            <table class="table atmos table-striped">
                <thead>
                    <th>Percentage</th>
                    <th>Element</th>
                </thead>
                <tbody>
                    {{#each planet.atmospheric_composition}}
                        <tr>
                            <td>{{[0]}}</td>
                            <td>{{[1]}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col">
            <h5 class="my-4">Satellites</h5>
            <ul>
                {{#if planet.satellites.length}}
                    {{#each planet.satellites}}
                        <li>{{this}}</li>
                    {{/each}}
                {{else}}
                    <li>None</li>
                {{/if}}
            </ul>
        </div>
        <div class="col">
            <h5 class="my-4">Probes/Explorers</h5>
            <ul>
                {{#if planet.visiting_probes.length}}
                    {{#each planet.visiting_probes}}
                        <li>{{this}}</li>
                    {{/each}}
                {{else}}
                    <li>None</li>
                {{/if}}
            </ul>
        </div>
    </div>
</planet>