<planet id="{{planet.name}}">
    <h3 class="my-3">{{planet.name}}</h3>
    <div class="row">
        <div class="col-6">
            <h5 class="my-4">Atmospheric Composition</h5>
            <table class="table atmos table-striped">
                <thead>
                    <th>Percentage</th>
                    <th>Element</th>
                </thead>
                <tbody>
                    {{#each planet.atmospheric_composition}}
                        <tr>
                            <td>{{[0]}}</td>
                            <td>{{[1]}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h5 class="my-4">Statistics</h5>
            <div class="stat">
                <i class="material-icons">work</i>
                {{{planet.mass}}}
            </div>
            <div class="stat">
                <i class="material-icons">accessibility</i>
                {{planet.diameter}}
            </div>
            <div class="stat">
                <i class="material-icons">repeat_one</i>
                {{planet.year}}
            </div>
            <div class="stat">
                <i class="material-icons">directions_run</i>
                {{planet.distance_from_sun}} from the sun
            </div>
            <h5 class="my-4">Satellites</h5>
            <ul>
                {{#if planet.satellites.length}}
                    {{#each planet.satellites}}
                        <li>{{satellite}}</li>
                    {{/each}}
                {{else}}
                    <li>None</li>
                {{/if}}
            </ul>
        </div>
    </div>
</planet>